.header {
    &__menuIcon {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
		cursor: pointer;
		z-index: 1111;
        
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 3px;
            background-color: #878787;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }
        &__middle {
            position: absolute;
            top: 9px;
            left: 0;
            width: 25px;
            height: 3px;
            background-color: #878787;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 4px;
            left: 0;
            width: 25px;
            height: 3px;
            background-color: #878787;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }
    }

    &__menuIcon--close {
    	position: fixed;
        &::before {
            transform: rotate(45deg) scaleX(1.25);
            top: 0;
            left: 0;
        }
        .header__menuIcon__middle {
            opacity: 0;
            transform: scaleX(0);
        }
        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
            bottom:  1px;
            left: 0;
        }
    }
}

.registerButton {
    @apply ml-4 text-sm text-white underline mt-6 p-3 border rounded-lg transition duration-500 ease-in-out hover:bg-purple-700;
}

.brand {
    &__wrapper {
        @apply flex w-1/2 lg:w-1/3 justify-center md:justify-start text-white font-extrabold py-2;
    }

    &__link {
        @apply text-white no-underline hover:text-white hover:no-underline;
    }
}

.menu-link {
     @apply inline-block text-gray-600 no-underline hover:text-gray-200 hover:underline py-2 transition duration-500 ease-in-out;

    &__active {
       @apply inline-block py-2 px-4 text-white no-underline;
    }
}  